
/* MOBILE */
/* MOBILE */
/* MOBILE */
@media only screen and (max-device-width: 500px) {

  .hideme {
    display: none;
  }

  .swal2-container.swal2-center>.swal2-popup {
    zoom: 0.65;
  }

  .lb_modes_holder {
    display: flex;
    flex-direction: column;
  }

  .current_game_mode {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mode_output {
    flex-direction: column;
  }

  .mo_primary {
    padding: 20px;
    width: auto;
  }

  .mo_secondary {
    margin-right: 9px;
    width: auto;
  }

  .modes_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 44px;
    position: fixed;
    bottom: 50px;
    max-width: 100%;
    background: rgb(13 13 14);
    border-top: 3px solid white;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    left: 0;
    padding-top: 12px;
  }

  .p_mode {
    padding: 0px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 0px;
    background: rgb(42 58 35);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 300ms;
    height: 31px;
    width: 30px;
  }

  .s_mode {
    padding: 0px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 0px;
    background: rgb(40 35 58);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 300ms;
    height: 31px;
    width: 28px;
    position: relative;
    top: -1px;
  }

  .s_class_selected {
    background: rgb(100 92 129);
    border: none;
    text-shadow: 0px 0px 5px black;
  }

  .lb_home {
    width: 90%;
    font-size: 16px;
    padding-top: 0px;
  }

  .lb_text {
    padding: 9px;
    font-size: 12px;
  }

  .lb_title {
    font-size: 44px;
  }

  .th_icon {
    font-size: 28px;
    position: relative;
    top: 2px;
  }

  .th_title {
    display: none;
  }

  .tiny_header {
  	display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
  }

  .th_item {
  	color: white;
    font-family: Oswald;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
    background-image: linear-gradient(#49474e, #595d60);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
    padding-bottom: 2px;
  }

  .th_item:hover {
    background-size: 100% 3px, auto;
  }

  .th_title {
    max-width: 50px;
    text-align: center;
    text-shadow: 0px 0px 3px rgb(0 0 0);
    font-weight: 900;
  }

  .dataTables_filter_alt {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .dataTables_filter_alt label {

  }

  .filter_text_alt {

  }

  .dataTables_filter_alt input {

  }

  .levels_master_holder {
    max-width: 100%;
  }

  .levels_item_holder {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }

  .levels_item_title {
    font-size: 13px;
    white-space: nowrap;
  }

  .unit_name_holder {
    margin: 0px;
    min-width: 0px;
  }

  .item {
    margin: 0px;
    min-width: 100px;
  }

  .upgrade_photos {
    min-width: 68px;
  }

  .item_builder, .item_damage_type, .item_armor_type {
    display: none;
  }

  #levels_table, #units_table {
    max-width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
  }

  #levels_table td, #units_table td {
    padding: 0px;
  }

  .unit_name_holder {
    margin: 0;
    min-width: 0;
  }

  .strategy_text {
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }

  .rate_unit_section {
    flex-wrap: wrap;
  }

  .rate_unit_level {
    min-width: 30%;
    width: 30%;
    background: rgb(60 59 59);
  }

  .rate_unit_holder {
    width: 40%;
    background: rgb(60 59 59);
    border: 2px solid rgb(44,41,41);
    margin-bottom: 7px;
  }

  .rate_buttons_holder {
    top: 0;
    width: 70%;
  }

  .rate_up {
    cursor: pointer;
    background: rgb(57 113 88);
    width: 50%;
    text-align: center;
  }

  .rate_down {
    cursor: pointer;
    background: rgb(113 57 57);
    width: 50%;
    text-align: center;
  }

  .eleven_to_twenty {
    display: none;
  }

  .legion_td {

  }



} /* close @media only */